.header__title {
    /* h1 */

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    /* identical to box height, or 128% */


    /* Black */

    color: var(--black);
}
