@import "./assets/css";

.container__buttons {
    width: 40%;
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
}
