.modal {
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(196, 196, 196);
    display: none;
}

.modal__container {
    margin: 0 auto;
}

.modal__close-block {
    display: flex;
    justify-content: flex-end;
}

.modal__close-button {
    cursor: pointer;
}

.modal__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    left: 50%;
    width: 428px;
    background-color: var(--white);
    border-radius: 8px;
}

.modal__content-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: var(--dark-blue);
}

.modal__content-text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

/*close button*/


